.container{box-sizing: border-box;
    background-color: grey;
height: 3.5em;
;
}
.a{
    list-style: none;
    padding-right:10px;
    padding-top: 1em;
    color: black;
    text-decoration: none;
    font-size: 1em;
}
.nav{display: flex;
flex-direction: row}

.head{

    margin-left: 7em;
    list-style: none;
    font-size: 3em;
    padding-bottom: 1em;

}
.end{
    margin-left: 35%;
    list-style: none;
    padding-top: 1em;
}

svg{
    margin-top: 20px;
    margin-left: 20px;
}