body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info{
background-color:#d0ddfc ;
margin:.5em auto ;
border:1px lightgray solid;
border-radius: 5px;
color: #392E94;
padding: .5em;
width: 80%;
}

.message-success{background-color:	#d3eed9 ;
    margin:.5em auto;
    border:1px lightgray solid;
    border-radius: 5px;
    color: 	#3A8A5B;
    padding: .5em;
    width: 80%;
}

.message-warning{background-color:#fcfbce ;
    margin:.5em auto;
    border:1px lightgray solid;
    border-radius: 5px;
    color: #907E18;
    padding: .5em;
    width: 80%;
}

.message-error{background-color:#f4d4d7 ;
    margin:.5em auto;
    border:1px lightgray solid;
    border-radius: 5px;
   color:#861F37;
    padding: .5em;
    width: 80%;
}