.fancy-header{
    color: purple;
}
h1{
    text-align: center;
}
h1,h2{
    color: blue;text-decoration: underline;
}
body{
    /*background-color: gray;*/
}
body{
    background-image: url("../img/building.jpeg");
    font-family: "American Typewriter";
    font-style: italic;
}

ul{
    list-style: square ;
}
ol{
    list-style: upper-alpha;
}
.table-manners{
    padding-left: 130px;
}
table{
    padding: 20px;
    font-size: 1.5em;
}
a:hover{
    color: red;
}
a:visited{
    color:green
}
a:active{
    color:blue
}
a:link{
    color:purple
}