* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color:#017BFE;
    color: #f8f9fa;
    opacity: 90%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
/* THE PAGE WRAPPER MIMICS THE BODY, ONLY WE ARE ABLE TO DO MORE WITH IT IF NECESSARY */
.page-wrapper {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/clouds.webp");
    background-repeat: no-repeat;
    background-size: 120em;
}

/* THE CONTAINER -- ALSO KNOWN AS A "SECTION" or "WRAPPER" -- IS A FULL WIDTH DIV THAT
   SEPARATES SECTIONS OF A WEBSITE. IT ALIGNS IT'S CHILD(REN), THE ROW, TO ITS CENTER,
   ALLOWING THE ROW TO PROPERLY CONTROL MAX-WIDTH ON SITE CONTENT */
.container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 20px;
}
/* THE ROW ESTABLISHES MAXIMUM WIDTH ON SITE CONTENT, AND ORGANIZES ITS CHILD(REN), THE
   COLUMN, HORIZONTALLY. */
/*.row {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    max-width: 900px;*/
/*    padding: 0 20px;*/
/*    column-gap: 20px;*/
/*}*/
/* OPTIONAL COMBO CLASS TO MAKE ROW FULL-WIDTH */
.row.full-width {
    max-width: unset;
}
.column {
    display:flex;
    flex-direction: column;
    flex: 1 0;
    min-width: 0px;
}

.place{
    width: 5%
}
.find-button{
    margin-left: 20px
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.city-log{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.city-search {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
}
#map{
    height: 50vh;
    width: 100%;

}
.place-search{
    padding: 30px 0 30px 0;
    background-color: whitesmoke;
    opacity: 60%;
    margin:auto;
}
main.container{
    padding: 0;

}
#card{
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: space-between;
}
.row2{
    /*align content to the left*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    background-color:whitesmoke;
    width: 16em;
    height: 100%;
    opacity: 70%;
}
#margin{
    margin-left: 20px;
}
