body{
    background-color: skyblue;
}
#grass{
    background-color: #3A8A5B;
    position: absolute;
    bottom: 401px;
    height: 15px;
    width: 100%;
}
#ground{
    background-color: saddlebrown;
    position:absolute;
    bottom:0;
    width: 100%;
    height: 400px;

}
.score{
    display: flex;
    justify-content: center;
}

.score>*{
    font-size: 30px;
}

#player-lives{
    border-right: black .5vh solid;
}

#sun{
    height: 180px;
    width: 180px;
    background-color: khaki;
    border-radius: 90px;
    position: absolute;
    right: 60px;
    top: 40px;

}