body{font-family: Raleway,sans-serif;

}
.column1{font-family: Raleway,sans-serif;
    text-align: center;
    margin-top:60px ;
    font-weight: 520;

}
/*primary font-family: Raleway, sans-serif;
tablet width breakpoint: 992px and below
mobile width breakpoint: 600px and below
content container width: 1400px
footer is in a fluid containe